* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    font-family: "Inter", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.container .header span {
    padding-top: 25px;
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.container form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container form .custom-input {
    border-color: #820053;
    max-width: 450px;
    width: 100%;
}

.icon-input {
    margin-right: auto;
    color: #820053;
    background-color: transparent;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;

}
.button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #820053;
    border-color: transparent;
  }

  .icon-btn {
    margin-left: 10px;
    color: #fff;
  }

@media only screen and (min-width: 768px) {
    .container form .custom-input {
        width: 450px;
    }
}