.message {
    text-align: center;
    padding: 7px;
    margin: 5px 0;
    border-radius: 5px;
  }
  .message.success {
    color: rgb(0, 192, 22);
    background-color: #f0fff0;
  }
  .message.error {
    color: rgb(255, 0, 0);
    background-color: #ffe6e6;
  }

/* Buttons */
.button {
  background-color: #820053;
  color: white;
  border: 1px solid #820053;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #6a0043;
  border: 1px solid #820053;
  text-decoration: none;
}

.button:focus,
.button:active {
  outline: none !important;
  background-color: #9f0065 !important;
  box-shadow: 0 0 5px #820053 !important;
}